PORT=3000
BASE_URL=http://localhost:3000
DB_FILE=./data/wifi.sqlite
TRIPAY_MODE=sandbox
TRIPAY_MERCHANT_CODE=
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_CHANNEL=QRIS2
MIKROTIK_ENABLED=false
MIKROTIK_URL=https://192.168.88.1
MIKROTIK_USERNAME=apiuser
MIKROTIK_PASSWORD=
MIKROTIK_VERIFY_TLS=false
MIKROTIK_HOTSPOT_PROFILE=default
ADMIN_TOKEN=change-this-long-random-token
